<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= 1+1 %>
<br />
<% target="world" %>
<%= "Hello #{target}" %>
<br />
<br />
<%  3.times do%>
<%= "xxx" %>
<% end %>



<br>
<%=  link_to("page about 1", "/pages/about" ) %>
<br>
<%=  link_to("page about 2", {:controller => 'pages', :action => 'about'}) %>
<br>
<%=  link_to("page about 3", {:action => 'about'}) %>
 



